In [47]:
import pandas as pd
import numpy as np
# from matplotlib import pyplot as plt
# import seaborn as sns
# %matplotlib inline
# from sklearn.feature_selection import RFE, f_regression
# #from sklearn.linear_model import (LinearRegression, Ridge, Lasso, RandomizedLasso)
# from sklearn.linear_model import (LinearRegression, Ridge)
# from sklearn.preprocessing import MinMaxScaler
# from sklearn.ensemble import RandomForestRegressor

In [50]:
dfCity = pd.read_csv("data/city.csv")

In [51]:
dfCity['city']

0         Ahmedabad
1         Ahmedabad
2         Ahmedabad
3         Ahmedabad
4         Ahmedabad
            ...
193006         Pune
193007         Pune
193008         Pune
193009         Pune
193010         Pune
Name: city, Length: 193011, dtype: object

In [52]:
df = dfCity.sample(frac = 1)
first_column = df.pop('city')
df.insert(0, 'city', first_column)

In [54]:
# df[df['city']== "Mumbai"]
df['city'].unique()

array(['Delhi', 'Mumbai', 'Hyderabad', 'Ahmedabad', 'Kolkata', 'Chennai',
       'Bangalore', 'Pune'], dtype=object)

In [55]:
df.columns

Index(['city', 'seller_type', 'bedroom', 'layout_type', 'property_type',
       'locality', 'price', 'area', 'furnish_type', 'bathroom'],
      dtype='object')

In [79]:
df.shape
df[df['layout_type']=="RK"]["price"].mean()

10818.149519594084

## DATA CLEANING

In [90]:
df_categorical = df[["city", "furnish_type", "property_type", "seller_type", "locality", "layout_type"]].copy()
df_numerical = df[["price", "area","bathroom","bedroom"]].copy()
# df_categorical
# df_numerical

In [91]:
df_categorical = pd.get_dummies(df_categorical)

In [92]:
df_categorical

,city_Ahmedabad,city_Bangalore,city_Chennai,city_Delhi,city_Hyderabad,city_Kolkata,city_Mumbai,city_Pune,furnish_type_Furnished,furnish_type_Semi-Furnished,...,locality_vile parle,locality_vile parle east,locality_vile parle west,locality_vivekananda Nagar,locality_wadebolhai,locality_wakad,locality_worli sea Fase,locality_yogi nagar,layout_type_BHK,layout_type_RK
79960,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
122341,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
131498,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
82894,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
7383,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125392,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0
130280,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
38313,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
41337,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
95313,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0